body {
  margin: 0;
  font-family: "Libre Baskerville", serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaeaea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nea {
  position: relative;
  transition: 0.3s all ease;
  font-size: 35px;
  color: #007bb6;
  top: 0;
}
.nea:hover {
  top: -4px;
}
